<div class="top-upper">
  {{> intro }}
</div>
<div class="top-lower">
  <section>
    <article>
      <div>{{{intro.letter}}}</div>
      <div id="intro-buttons" class="intro-buttons">
      </div>
    </article>
  </section>
</div>
<div class="area-right-top">
  <section class="skills">
    <div class="sectionTitle">
      <h1>Key Skills</h1>
    </div>
    <div class="sectionContent">
      {{> skills }}
    </div>
    <div class="clear"></div>
  </section>
</div>
<div class="area-left-center">
  <section class="experience">
    <div class="sectionTitle">
      <h1>Work Experience</h1>
    </div>
    <div class="sectionContent">
      {{> experience }}
    </div>
    <div class="clear"></div>
  </section>
  <section class="education">
    <div class="sectionTitle">
      <h1>Education</h1>
    </div>
    <div class="sectionContent">
      {{> education }}
    </div>
    <div class="clear"></div>
  </section>
  <section>
    <div class="sectionTitle">
      <h1>Testimonials</h1>
    </div>
    <div class="sectionContent">
      {{> testimonials }}
    </div>
  </section>
  <section class="publications">
    <div class="sectionTitle">
      <h1>Publications</h1>
    </div>
    <div class="sectionContent">
      {{> publications }}
    </div>
  </section>
  <section class="extracurricular">
    <div class="sectionTitle">
      <h1>Extracurricular</h1>
    </div>
    <div class="sectionContent">
      {{> extracurricular }}
    </div>
  </section>
</div>
<div class="clear-single"></div>
<div class="area-right-bottom">
  <section class="language">
    <div class="sectionTitle">
      <h1>Language Skills</h1>
    </div>
    <div class="sectionContent">
      {{> language }}
    </div>
  </section>
  <section class="hobbies">
    <div class="sectionTitle">
      <h1>Hobbies</h1>
    </div>
    <div class="sectionContent">
      {{> hobbies }}
    </div>
  </section>
</div>
