<div class="row page-header">
  <div class="col-lg-12">
    <h1>My Résumé <small>And far nicer ones</small></h1>
  </div>
</div>
<div class="row">
<div class="col-lg-offset-3 col-lg-6">
  <div class="jumbotron">
{{ jumbo | markdownify }}
<div><a class="btn btn-primary btn-lg" href="{{site.baseurl}}/latex/bodey-cv.pdf">My Résumé</a></div>
  </div>
</div>
</div>

<div class="row">
  <div class="col-lg-6">
<h2>Nicely Made</h2>
{{ examples | markdownify }}
<div class="alert">
{{ alert | markdownify }}
</div>
  </div>

  <div class="col-lg-6">
    <h2>Other</h2>
{{ mine | markdownify }}
  </div>
</div>
Contact me at: <bodey.baker@gmail.com>.

