<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{page.title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{site.baseurl}}/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="{{site.baseurl}}/local.css" rel="stylesheet" media="screen">
    <!-- Tell IE to render in it's latest version -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
  </head>
  <body>
    <div class="container">
    {{content}}
    </div>
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="{{site.baseurl}}/bootstrap/js/bootstrap.min.js"></script>
    <!-- Responsive features in IE8 (https://github.com/scottjehl/Respond) -->
    <script src="{{site.baseurl}}/bootstrap/respond.min.js"></script>
  </body>
</html>
