<!DOCTYPE html>
<html>
  <head>
    <title>{{page.title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <!-- Tell IE to render in it's latest version -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
  </head>
  <body>

    {{content}}

    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <!-- Responsive features in IE8 (https://github.com/scottjehl/Respond) -->
    <script src="bootstrap/respond.min.js"></script>
  </body>
</html>
